:root {
    --aside-background-color: #1E2939;
    --main-background-color: #FFFFFF;
    --page-background-color: #F5F7FA;
    --text-color-dark: #000;
    --text-color-light: #fff;
    --text-color-accent: #FB6D3A;
    --text-color: #595959;
    --text-color-grey: #ababab;
}